		<h2>Add a Bed</h2>

		<%= simple_form_for @bed, html: { class: 'form-horizontal', multipart: true } do |f| %>
		<div class="form-group text-center">
			<%= f.input :name %>
		</div>
		<div class="form-group text-center">
			<%= f.button :submit, class: 'btn-success' %>
		</div>
		<% end %>