<%= simple_form_for @patient, html: { class: 'form-horizontal', multipart: true } do |f| %>
    <div class="form-group text-center">
      <%= f.input :cnic %>
    </div>
    <div class="form-group text-center">
      <%= f.button :submit, class: 'btn-success' %>
    </div>
<% end %>