<div id="request-holder">
	<% @requests.each_slice(4) do |slice| %>
	<div class="row">
		<% slice.each do |request| -%>
		<% if  request.accepted==true%>
		<div class="col-md-3">
			<div class="panel panel-green">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-tasks"> </i><span> Request # <%= request.id %></span>
						</div>
					</div>
				</div>
				<a href="<%= request_show_path request %>">
					<div class="panel-footer">
						<span class="pull-left">Accepted</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<% else%>
		<div class="col-md-3">
			<div class="panel panel-red">
				<div class="panel-heading">
					<div class="row">
						<div class="col-sm-12">
							<i class="fa fa-support"> </i><span> Request # <%= request.id %></span>
						</div>
					</div>
				</div>
				<a href="<%= request_show_path request %>">
					<div class="panel-footer">
						<span class="pull-left">Pending</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>		
		<% end %>
		<% end -%>
	</div>
	<% end -%>
</div>